body{
    background: linear-gradient(45deg, white, green 69%);
}

.navbar {
  display: flex;
  font-family: Georgia;
  font-size: 22px;
  font-weight: 600;
  color: black;
  border: 3px solid black;
  border-radius: 10px;
  background: teal;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

img {
  padding: 10px;
  margin: 5px;
  display: flex;
  border: 1px solid teal;
  border-radius: 20px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

p {
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
}

.mainContent {
  display: flex;
  flex-direction: row;
}

h1 {
  text-align: center;
  font-size: medium;
  margin: 3px;
  padding: 5px;
  background-color: aquamarine;
  border: 2px solid black;
}

footer {
  text-align: center;
}
